/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	background-image:url('../images/bg_html.jpg');
	background-repeat: repeat;
}

.wrap{
	width: 800px;
	margin: auto;
}

img#logo{
	position: absolute;
}

.header{
	width: 800px;
	font-family: Calibri;
	text-decoration: none;
	font-weight: bolder;
	margin-top: 25px;
}

.header a{
	text-decoration: none;
}

.social{
	float: right;
	margin-right: 30px;
}

.menu{
	width: 800px;
	margin-right: 30px;
}

.menu li{
	width: 80px;
	float: right;
	margin: 5px;
}

.menu li a{
	text-decoration: none;
	color: black;
	font-family: Calibri;
}

.content{
	width: 800px;
	margin-top: 40px;
}

.slider img{
	width: 570px;
	height: 300px;
	float: left;
}

.SpecialProgram{
	margin-left:550px;
	background: #272727;
	width: 230px;
	height: 300px;
	position: absolute;
	float: right;
}

.SpecialProgram h1{
	font-size: 30px;
	color: 	#2894FF;
	font-family: Calibri;
	padding: 15px 10px 0px 30px;
}

.SpecialProgram p{
	margin:auto;
	color: white;
	font-size: 15px;
	font-family: Calibri;
	line-height: 30px;
	padding: 0px 20px 20px 30px;
}


.box1{
	margin: auto;
	width: 100px;
	height: 20px;
	background-color:#4F4F4F;
	font-family: Calibri;
	font-size: 15px;
	bottom: 20px;
	right: 10px;
	left: 20px;
	position: absolute;
	color: white;
	padding:10px 0px 5px 10px; 
}

.clear{
	clear: both;
}

.introduction {
	background-color: white;
	width:770px;
	height: 100px;
	color: black;
	font-family: Calibri;
	font-size: 15px;
	margin-top:20px;
	padding: 10px 0px 10px 10px;
}

.introduction p{
	line-height: 30px;
	font-family: Calibri;
}

.introduction a{
	color:#2894FF;
}

.Events{
	width: 600px;
	height:500px;
	background: white;
	font-family: Calibri;
	margin-top: 30px;
	float: left;
}

.Events  h1{
	font-size: 30px;
	padding-left: 20px;
	padding-top: 20px;
}

.Events h1 a {
	color: 	#2894FF	;
}


}

.event1{
	width: 400px;
	margin-top: 30px;
	margin-left: 10px;
	
}
.event img{
	width: 200px;
}
.event1 p{
	width: 380px;
	display:inline;

}

.event1 p a{
	font-weight: bolder;
}

.event2{
	margin-top: 30px;
	margin-left: 10px;
	display:inline;
}

.event2 p{
	width: 400px;
	display:inline;
}

.event2 p a{
	font-weight: bolder;
}

.contect{
	float: right;
	width: 200px;
	height: 500px;
	margin-top: 30px;
	background-color: white;

}
.service {
  	width:200px;
  	height:200px;
 	float: right;
 	color:black;
 	font-size:16px;
  	font-family:Calibri;
  	padding:20px 20px 20px 20px; 
}

.service h1 {
	font-size: 30px;
	font-family: Calibri;
}

.service h1 a{
	color: 	#2894FF	;
}

.service li{
	list-style-type: url(../images/dot_blue.gif);
	color: black;
	line-height: 30px;
	list-style-position: inside;
}
.service li a {
  	margin: 0;
  	padding-top:10px;
  	
  	font-size:16px;
  	font-family:Calibri;
  	text-decoration: none;
}

.find_us{
	width: 200;
	height: 300px;
	margin-top: 50px;
	float: left;
}


.find_us h1{
	font-size: 25px;
	font-family: Calibri;
}

.find_us h1 a{
	color: #2894FF;
}

.search{
	width: 60px;
	height: 20px;
	color: #2894FF;
	background-color: #DDDDDD;
	font-family: Calibri;
	font-size: 20px;
	bottom: 20px;
	right: 10px;
	left: 20px;
	padding:5px 5px 5px 10px ;
	font-weight: bolder;
	text-decoration: none;
	float: left;
	margin-top: 30px;
}

.footer {
  padding-top:20px;
  width:800px;
  height:50px;
  text-align:center;
  font-size:12px;
  line-height: 20px;
  font-family:Calibri;  
}

.footer a {
  color:#0099CC;
}

@media only screen and (max-width: 767px) {
.wrap{
	width:100%;
	margin:0px 0 0 0;
}

.header{
	height: auto;
}

img#logo{
	position: relative;
}

.menu li{
	width: 80px;
	float: right;
	margin: 5px;
	float:none;
	margin-left: 30px;
	margin-top: 10px;
}



.social{
	float: right;
	margin-left: 30px;
	float:none;
	margin-top: 10px;
}

.content{
	float: none;
	width: 100%;
	margin-top: 40px;
}

.slider img{
	max-width:65%;
	float: none;
	height: auto;
	margin: 
}


.SpecialProgram{
	margin-left:550px;
	background: #272727;
	max-width:65%;
	position: relative;
	float: right;
}

.introduction {
	background-color: white;
	max-width:90%;
	color: black;
	font-family: Calibri;
	font-size: 15px;
	margin:10px 10px 30px 10px;
	padding: 10px 0px 10px 10px;
}

.event{
	max-width:80%;
	float: none;
	font-size: 15px;
	line-height: 20px;
	margin:auto;
 	float: right;

}



.footer {
  padding-top:20px;
  max-width:80%;
  text-align:center;
  font-size:12px;
  line-height: 20px;
  font-family:Calibri;  
}

.service {
  	max-width:100%;
 	float: none;
 	color:black;
 	font-size:16px;
  	font-family:Calibri;
  	padding:20px 20px 20px 20px; 
}

.find_us{
	max-width:100%;
	margin-top: 50px;
	float: none;
	padding-left: 20px;
}